<!DOCTYPE html>
<html>
<head>
  <title>July</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<h1>Welcome to ver 0.1. Remember that this database will be reset regularly and that there is no error checking involved yet.</h1>

<%= yield %>

</body>
</html>
